{% extends "ChouffeMagicBundle::layout.html.twig" %}

{% block title %}
    Gallery - {{ parent() }}
{% endblock %}

{% block page_content %}
    <ul class="thumbnails">
    {% for album in albumList %}
            <li class="span4">
                <a href="#" class="thumbnail">
                    <div class="span2">
                    </div>
                    <img src="" width="100" />
                    {{ album.title }}
                </a>
            </li>
        // <img src="{# asset('images/news') #}{# news.cover #}" class="img-polaroid" />
    {% else %}
    No Album
    {% endfor %}
    </ul>
{% endblock %}



