<div class="well">
    <form method="post"  action="{% if action == 'add' %}{{ path('album_add')
    }}{% else %}{% if album is defined %}{{ path('album_update_add',
    {'id':album.id}) }}{% endif %}{% endif %}" {{ form_enctype(form) }} name="album_form">
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
