<h3>News's form</h3>

<div class="well">
    <form method="post"  action="{{ path('news_add') }}" {{ form_enctype(form) }} name="news_form">
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
