<div class="well">
    <form method="post"  action="{% if action == 'add' %}{{ path('photo_add',
    {'album':album.id}) }}{% else %}{% if photo is defined %}{{
    path('photo_update_add', {'id':photo.id}) }}{% endif %}{% endif %}" {{ form_enctype(form)
    }} name="photo_form">
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
